.menu1{
    display: flex;
    justify-content: space-between;
}
.title1{
    display: flex;
    color: white;
}
.menu a{
    color: white;
    padding: 10px;
}
header{
    background-color: #9A7541;
    padding: 20px 0px 20px 30px;
}
.title1 h1{
    padding: 0px 20px 0px 10px;
    font-size: 25px;
}
.title1 p{
    padding: 10px 0px 10px 0px ;
}
.menu{
    padding: 10px 30px 10px 0px;
}
.title h1{
    font-size: 200px;
    text-align: center;
}
.img1 {
  background-image: url("imgs/image12@3x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img1 .p1{
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 200px 500px 200px 500px;
}
.img1 .p2{
    font-size: 40px;
    color: white;
   text-align: center;
    padding: 0px 400px 300px 400px;
}
.menus123{
    text-align: center;
}
.menus123 img{
    padding: 10px;
}
.img2 {
  background-image: url("imgs/image\ 6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.img2 h1{
    color: white;
    font-size: 50px;
    text-align: center;
    padding:230px;
}
.img2 p{
    color: white;
    font-size: 30px;
    padding: 0px 400px 200px 400px;
    text-align: center;
}
.button {
    background-color: #9A7541;
    color: white;
    text-decoration: none;
    padding: 20px 100px 20px 100px ;
    border-radius: 50px;
}
.button1{
    text-align: center;
    padding: 0px 0px 250px 0px;
}
.dresscode{
        height: 100vh; /* ocupa a tela toda */
    background: linear-gradient(
        to right,
        #D6C6A8 50%,   /* lado esquerdo */
        #64727E 50%    /* lado direito */
    );
    display: flex;
}
.dresscode div img{
    border-radius: 60px;
    margin: 50px 100px 0px 0px;
    align-items: center;
}
.azul h2{
    background-color: #64727E;
    color: white;
    padding: 30px;
    border-radius: 30px;
    text-align: center;
    margin: 100px;
}
