.menu1{
    display: flex;
    justify-content: space-between;
}

.title1{
    display: flex;
    color: white;
}

.menu a{
    color: white;
    padding: 0.6rem;
}

header{
    background-color: #9A7541;
    padding: 1.25rem 0 1.25rem 1.8rem;
}

.title1 h1{
    padding: 0 1.2rem 0 0.6rem;
    font-size: 3rem;
}

.title1 p{
    padding: 0.6rem 0;
}

.menu{
    padding: 0.6rem 1.8rem 0.6rem 0;
}

.title h1{
    font-size: 12rem;
    text-align: center;
}

.img1 {
  background-image: url("imgs/image12@3x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img1 .p1{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding: 12rem 20vw;
}

.img1 .p2{
    font-size: 2.5rem;
    color: white;
    text-align: center;
    padding: 0 15vw 18rem 15vw;
}

.img2 {
  background-image: url("imgs/image 6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.img2 h1{
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 14rem;
}

.img2 p{
    color: white;
    font-size: 1.8rem;
    padding: 0 20vw 12rem 20vw;
    text-align: center;
}

.button {
    background-color: #9A7541;
    color: white;
    text-decoration: none;
    padding: 1.2rem 6rem;
    border-radius: 3rem;
}

.button1{
    text-align: center;
    padding-bottom: 15rem;
}

.dresscode{
    height: 100vh;
    background: linear-gradient(
        to right,
        #D6C6A8 50%, 
        #64727E 50%    
    );
    display: flex;
    padding: 0 10vw;
    justify-content: space-between;
    flex-wrap: wrap;
}

.azul h2{
    background-color: #0B1C2D;
    color: white;
    padding: 1.8rem;
    border-radius: 1.8rem;
    text-align: center;
    margin: 6rem;
}

.azul p{
    text-align: center;
    padding: 6rem;
    font-size: 1.6rem;
    color: #0B1C2D;
}

.dresscode .azul{
    width: 30%;
}

.dresscode .img3{
    width: 30%;
}

.dresscode .caramelo{
    width: 30%;
}

.img3{
 background-image: url(imgs/image\ 7.png);
 background-size: 100% auto;
 background-repeat: no-repeat;
 background-position: center;
}

.caramelo h2{
    background-color: #9A7541;
    color: white;
    padding: 1.8rem;
    border-radius: 1.8rem;
    text-align: center;
    margin: 6rem;
}

.caramelo p{
    text-align: center;
    padding: 6rem;
    font-size: 1.6rem;
    color: white;
}

.pzinho{   
    text-align: center;
    padding: 0.6rem 20vw;
    font-size: 1.6rem;
    color: white;
}

.span1{
    color: #0B1C2D;
}

.img3 h1{
    color: white;
    font-size: 3.8rem;
    text-align: center;
    margin-top: 2.5rem;
}

.img3 p{
    color: white;
    font-size: 1.8rem;
    text-align: center;
}

section.menus123{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4vw 30%;
    gap: 4vw;
}

.our{
    background-image: url(imgs/image\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    padding: 10vw 0;
    text-align: center;
}

.the{
    background-image: url(imgs/image\ 3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    padding: 10vw 0;
    text-align: center;
}

.rs{
    background-image: url(imgs/image\ 4.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    padding: 10vw 0;
    text-align: center;
}

.re{
    background-image: url(imgs/image\ 5.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
    padding: 10vw 0;
    text-align: center;
}
.our a{
    color: white;
    font-size: 1.5rem;
}
.the a{
    color: white;
    font-size: 1.5rem;
}
.rs a{
color: white;
font-size: 1.5rem;
}
.re a{
    color: white;
    font-size: 1.5rem;
}
.ultimo {
  background-image: url("imgs/image 6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-wrap: wrap;
}
.ultimo .one1{
  width: 50%;
  padding: 150px 0px 0px 0px;
  color: white;
  font-size: 2rem;
}
.ultimo .one2{
width: 50%;
  padding: 150px 0px 0px 0px;
  color: white;
  font-size: 2rem;
}
.one3{
    width: 100%;
   
}