.menu1{
    display: flex;
    justify-content: space-between;
}
.title1{
    display: flex;
    color: white;
}
.menu a{
    color: white;
    padding: 10px;
}
header{
    background-color: #9A7541;
    padding: 20px 0px 20px 30px;
}
.title1 h1{
    padding: 0px 20px 0px 10px;
    font-size: 25px;
}
.title1 p{
    padding: 10px 0px 10px 0px ;
}
.menu{
    padding: 10px 30px 10px 0px;
}

